<div class="futureCard">
  <%= image_tag "https://image.tmdb.org/t/p/w200/#{movie[:poster]}" %>
  <div class="mx-4">
    <p><%= movie[:title]%></p>
    <p>Release date: <%= movie[:date] %></p>
  </div>
</div>
