// Import page-specific CSS files here.
@import "home";

.card {
  background-size: cover;
  background-position: center;
  height: 20px;
  width: 60vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(250, 217, 0);
}

.list-card {
  background-color: black !important;
  border: 2px solid rgb(250, 217, 0);
}

.list-card:hover {
  box-shadow: 0 0 12px rgb(250, 217, 0);
  cursor: pointer;
  filter: brightness(120%);
}

.list-card h3 {
  color: rgb(250, 217, 0);
}

.futureCard-container {
  background-color: black !important;
}

.futureCard-container h1 {
  color: rgb(250, 217, 0)
}

.futureCard {
  padding: 5px;
  margin: 0.5em auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: black;
  font-size: 24px;
  background-color: black;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(250, 217, 0);
  text-align: center;
}

.futureCard img {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.futureCard p {
  color: rgb(250, 217, 0)
}

.btn {
  height: 50px;
  width: 200px;
}
