.bookmark-form {
  margin: 3em;
  margin-left: 5em;
  min-width: 21.5em;
  min-height: 30em;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 2em;
  border-radius: 8px;
}

#search-result-title {
  border-bottom: 2px solid black;
  display: none;
}
