.resultsList li {
  display: inline;
}

.resultsList img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resultsList img:hover {
  filter: brightness(50%)
}


.movie-card {
  border: 2px solid black;
  padding: 3em;
  margin: 1.5em;
  background-color: black;
  box-shadow: 0 0 7px rgb(250, 217, 0);
}

.movie-card h1,
.movie-card h2,
.movie-card p,
.list-title {
  color: rgb(250, 217, 0);
}


.bookmark-list-container li {
  display: inline-block;
}

.bookmark-list-container ul {
  margin: 0;
  padding-left: 0;
}

.movie-item {
  position: relative;
}

.info-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  display: none;
  left: 85px;
}

.movie-item:hover .info-button {
  display: block
}
