// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hero {
  height: 50vh;
  background: image-url("cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h3 {
  color: white;
  font-weight: bolder;
}

nav a {
  color: rgb(250, 217, 0);
}

ul {
  list-style: none;
  margin-left: none;
}

nav {
  height: 15vh;
}

nav h1 {
  font-size: 4em;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue'
}

h1 {
  color: rgb(250, 217, 0);
}
